venv
.idea

*.egg-info
dist
build
.github

*.pyc
logs/*.log*
*.DS_Store
.DS_Store

*address_cache
gateway/config/http.yaml
gateway/config/mqtt.yaml
gateway/config/test-modbus-http.yaml
panel/config/mqtt.yaml
