__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

# Coverage
/coverage.xml
/.coverage
htmlcov/

# Gateway propuction
.gtw_logs
config/prod/*
