HTTP_GET_HOST=hostforgetdata.com
HTTP_GET_PORT=8080
HTTP_GET_LOGIN=login
HTTP_GET_PASSWORD=password

HTTP_POST_0_HOST=hostforpostdata0.com
HTTP_POST_0_PORT=8080
HTTP_POST_0_LOGIN=login
HTTP_POST_0_PASSWORD=password

HTTP_POST_1_HOST=hostforpostdata1.com
HTTP_POST_1_PORT=8080
HTTP_POST_1_LOGIN=login
HTTP_POST_1_PASSWORD=password

HTTP_POST_2_HOST=hostforpostdata2.com
HTTP_POST_2_PORT=8080
HTTP_POST_2_LOGIN=login
HTTP_POST_2_PASSWORD=password