aiohttp==3.7.4.post0
PyYAML==5.4.1
setuptools==56.0.0
paho-mqtt~=1.5.1
pydantic~=1.8.1
pymodbus==2.5.1


# BAC0==21.2.5  # todo: use pure bacpypes
# bacpypes==0.18.4
# aiomisc==12.1.0
# marshmallow~=3.10.0  # todo: use pydantic everywhere?
# netifaces==0.10.9
# aiohttp-apispec==2.2.1