aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
BAC0==21.1.28
bacpypes==0.18.3
certifi==2020.12.5
idna==3.1
multidict==5.1.0
pymodbus==2.4.0
pyserial==3.5
six==1.15.0
typing-extensions==3.7.4.3
yarl==1.6.3
PyYAML==5.4.1
netifaces==0.10.9

