aiohttp==3.7.2
async-timeout==3.0.1
attrs==20.3.0
BAC0==20.2.20
bacpypes==0.18.3
certifi==2020.11.8
chardet==3.0.4
idna==2.10
multidict==5.0.0
pymodbus==2.4.0
pyserial==3.4
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.2
yarl==1.6.2
