[Unit]
Description=VisioBAS Gateway

[Service]
User=root
Restart=on-failure
ExecStart=/opt/visiobas-gateway/.venv/bin/python3 /opt/visiobas-gateway/visiobas_gateway

[Install]
WantedBy=multi-user.target
Alias=visiobas_gateway.service