[Unit]
Description=VisioBAS Gateway

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/python3 /opt/visiobas-gateway/visiobas_gateway
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
Alias=visiobas_gateway.service